/* General Styling */
* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

/* Styling the title and search bar */
header h1 {
  text-align: center;
  font-family: "Limelight", cursive;
  font-size: 40px;
  letter-spacing: 5px;
  margin-left: 50px;
  display: inline-block;
  margin-right: 20px;
}

.search-bar {
  color: black;
  margin-top: 50px;
  clear: both;
}

#search {
  font-size: 20px;
  font-family: "Mate", serif;
  background: #1b1b1b;
  color: white;
  height: 15%;
  width: 20%;
  outline: none;
  border: none;
  display: inline-block;
}

/* Styling the clear button */
#clearBtn {
  display: none;
  outline: none;
  border: none;
  padding-right: 50px;
  cursor: pointer;
  color: white;
  background-color: black;
  float: right;
  margin-top: 20px;
}

i {
  font-family: FontAwesome;
  color: white;
  font-size: 30px;
  background-color: black;
}

/* Styling the Now Playing Movies */
#now-playing,
#currentplayingMovies,
#search-movies,
#nowplayingContainer,
#searchedMoviesContainer,
#searchContainer {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(400px, 1fr));
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
#now-playing h3,
#currentplayingMovies h3,
#search-movies h3,
#nowplayingContainer h3,
#searchedMoviesContainer h3,
#searchContainer h3 {
  font-family: "Special Elite", cursive;
}

#movie-container {
  margin-bottom: 50px;
}

#nowTitle,
#searchTitle {
  margin-left: 50px;
  font-family: "Special Elite", cursive;
  font-size: 30px;
  margin-top: 50px;
  letter-spacing: 5px;
}

#searchTitle {
  display: none;
}

/* Styling load more buttons and respective containers for more Now Playing & Searched movies */

#now-load-more,
#search-load-more {
  justify-content: center;
  padding: 5px;
  font-size: 20px;
  background-color: black;
  font-family: "Special Elite", cursive;
}
#now-load-div,
#search-load-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#search-load-more {
  display: none;
}

#container-title,
#nowLoad,
#search-title,
#searchLoad {
  margin-top: 10px;
}

/* styling the pop up */

#modal {
  position: fixed;
  text-align: center;
  z-index: 1000;
  color: white;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#modal-content {
  background-color: black;
  width: 400px;
  height: auto;
  margin: 0 auto;
  position: relative;
  margin-top: 200px;
}

#modal-content h1 {
  font-family: "Special Elite", cursive;
  margin-top: 20px;
}
#modal-content p {
  margin-top: 20px;
  padding-bottom: 20px;
  font-family: "Mate", serif;
}
#close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  background-color: black;
}
#pop-img {
  justify-content: center;
  margin-top: 20px;
}

/* Style movie posters */
#img {
  justify-content: center;
  margin-top: 20px;
  transition: all 1.5s ease;
}
#img:hover {
  transform: scaleY(1.02);
}

/* Responsiveness and adding media queries*/
@media (max-width: 780px) {
  header h1 {
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
  }
  #search {
    width: 60%;
    text-align: center;
    margin-top: 20px;
  }
  .search-bar {
    text-align: center;
  }
  #clearBtn {
    margin-left: 10px;
  }
}

/* Mobile Responsiveness */
@media (max-width: 480px) {
  header h1 {
    font-size: 30px;
    letter-spacing: 5px;
  }
  #search {
    width: 60%;
  }
  #clearBtn {
    margin-left: 5px;
    font-size: 20px;
  }
}

/* Styling the SLider */

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-prev {
  margin-left: 50px;
  z-index: 3;
  cursor: pointer;
}

.slick-next {
  margin-right: 50px;
  z-index: 3;
  cursor: pointer;
}

.slider {
  width: 100%;
  margin: 100px auto;
}

.slick-slide {
  margin: 10px 20px;
}

.slick-slide img {
  width: auto;
  height: 450px;
  transform: scale(0.8);
}

.slick-dotted .slick-current img {
  transform: scale(1.01);
}
